body{
	size: 6;
	background-color: "red";
	font:normal 20px Arial;                                                                                              
	background-image: url("793391.jpg")

}

