.nav1{
	font-size:20px;
  	background-color:#283593	!important ;
		padding: 20px;
}

.B1{
	color: black;
	background-color: white;
	border-radius: 15px;
	border-color: blue;
	align-content: center;
	padding: 20px;
}
.B1:hover{
	border-width: 5px;
	border-color: black;
	transition:0.8s;
}
.id4{
	align: center;
}

.id1{
	text-align: center;
	color: black;
}
.id3{
	text-align: center;
}
.modal-header, h4, .close {
      background-color: #3f51b5;
      color:white !important;
      text-align: center;
      font-size: 30px;
}

.B2{
	background-color: #5c8291;
	color: white;
}
.B2:hover{
	background-color: #527999;
	color: white;
	border-width: 2px;
	border-color: #121b35;
	transition: 0.5s;
}
.C2{
	color:#224b6b;
	background: none;
}
.C3{
	background-image: url("g1.jpg");
	color:black;
}
.C1{
	color: white;
}
.Srch1{
	border-radius: 2px;
}
.carousel-item{
	max-height: 400px;
}
