.img1{
	position: relative;
	margin-left: 240px;

}
.img2{
		position: relative;
	
	z-index: -1;
	margin-left: -300px;
}
table,th,td{
	
	border:2px solid black;
	border-collapse: collapse;
	font-family: Courier;
	font-size: 20px;
	background-color: white;
	margin: auto;
	margin-left: 500px;
	margin-top: -500px;

}
.tabl{
	position: relative;
	z-index: -1;
	
}
