
.I1{
	font-size: 170px;
	font-family:"Impact";
	color: red;
	margin-left: 470px;
	outline-color: black;
	outline-width: 5px;
	text-align: left;
	z-index: -1;
	margin-top: -10px;
}

.nav{
	background-color: black;
	font-size: 20px;
	height:50px;
	height: 70px;
	
}
.nav li{
	list-style-type: none;
	float: left;
	margin-top: 0px;
	font-size: 30px;
	margin-left: 80px;
	
}
.r{
	position: relative;
	margin-left: -80px;
	margin-top: 10px;
	z-index: -1;

}
.b{
	position: absolute;
	margin-left: 450px;
	margin-top: -260px;
	z-index: -1;

}
.i2{
	position: absolute;
	z-index: -1;
	margin-left: -620px; 
	margin-top: -400px;

}
.i3{
	position: relative;
	margin-left: 1100px;
	margin-top: -190px;
	z-index: -1;
}
.b1,.b2,.b3,.b4,.b5,.b6{
	
	margin-top: 10px;
	background: none;
	font-family: Impact;
	font-size: 30px;
	color: white;

}
.b1:hover,.b2:hover,.b3:hover,.b4:hover,.b5:hover,.b6:hover{
	cursor: pointer;
	color: red;
	border: 1px solid blue;
	transition: 0.5s all;


}
.bl1{
	position: relative;
	z-index: -1;
	margin-top: -300px;
	margin-left: 1100px;
}	
.r1{
	position: relative;
	z-index: -1;
	margin-top: -350px;
	margin-left: -800px;
}
.ch{
	font-family: Impact;
	font-size: 30px;
	color: yellow;
	position: relative;
	z-index: -1;
	margin-top: -200px;
	margin-left: -440px;

}
.type{
	font-family: "Courier New";
	color: black;
	position: relative;;
	z-index: -1;
	margin-top: -180px;
	margin-left: -70px;
	font-size: 40px;
  	
  
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}