body{

    background-image: url("../img/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;


}
.heading{
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    color: rgb(7, 252, 40);
}
.question{
    font-size: 30px;


}
.back{
    background-color: rgba(49, 126, 249,0.8);
    margin: 50px 50px 25px 50px;
}
.answer{
    font-size: 20px;
    background-color: rgba(0, 255, 16, 0.60);
    margin: 20px 50px 20px 50px;
}
