.b1,.b2,.b3,.b4,.b5{
  margin-left: 35px;
  border-color: white;
  border-width: 2px;
  background: none;
  color: white;
  font-family: Impact;
  font-size: 30px;
}
.b1:hover,.b2:hover,.b3:hover,.b4:hover,.b5:hover{
  cursor: pointer;
  border-width: 3px;
  border-color: red;
  color:red;
  transition:0.8s;
}
.nav1{
  background-color: black;
}
.i1,.i2,.i3{
  padding: 30px;
}
